header,
footer{
	background: lightGoldenrodYellow;
}
header #editMode, #notice { padding: 5px 10px 5px 10px; height: 18px; margin-right: 10px;}

#admin{
	position: absolute;
	background: white;
	right: 10px;
	left: auto;
	top: 63px;
	z-index: 10;
	width: 300px;
	margin: 0;
}

#admin div.form-line {
	margin: 5px 0;
}

#admin .radio{
	margin: 5px;
	padding-top: 4px;
}