header {
	height: 30px;
	width: 100%;
	position: absolute;
	top:0;
	padding: 10px 0;
	border-bottom: 1px solid gray;
}
  header h1          	{ margin:0; line-height: 32px; }
  header h1 span		  { color: gray;}
  header #logo       	{ padding: 0 0 0 10px; }
  header #actionForm 	{ padding: 0 10px 0 0; }
  header #addPin		  { margin-left: 10px; }
  header #limitDiv 	  { padding: 5px 0 5px 10px; height: 18px; width: 300px; margin-right: 10px;}
  header #limitSlider { margin: 4px 10px; }
  header #limitDiv #toggleDataOverlay {margin: 3px 8px 0 0; cursor: pointer;}
  header #mean		    {margin-right: 10px;}
  header #mean select {width: 150px;}

footer {
	height: 30px;
	padding: 5px 0;
	width: 100%;
	position: absolute;
	bottom:0;
	border-top: 1px solid gray;
}

  footer #copyright  { padding: 5px 0 0 10px; }
  footer #position, footer #objects { padding: 5px 5px 0 5px; cursor: pointer;}

#mapCanvas { position:absolute; width: 100%; top:51px; bottom: 41px; background: url("/img/bg_tile.jpg"); box-shadow: 0 0 10px black inset;}
  #mapCanvas img { max-width: none; } /* Twitter bootstrap fails with GMAPS */
  #mapCanvas label { width: auto; display:inline; }  /* Twitter bootstrap fails with GMAPS */

#multipleChoices{
	width: 262px;
	top: 39px;
	left: 324px;
	padding: 10px;
}
  #multipleChoices li { cursor: pointer; }
  #multipleChoices li:hover { background: lightGrey; }	


/* CSS LOADER
 */

.loader_back {
	width: 58px;
	height: 58px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: #000;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -29px;
	margin-top: -29px;
}

.loader {
	width: 50px;
	height: 50px;
	border-right: 4px solid #4D4D4D;
	border-bottom: 4px solid #4D4D4D;


	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-animation: rotate 2s infinite linear;
	-moz-animation: rotate 2s infinite linear;
	-ms-animation: rotate 2s infinite linear;
	animation: rotate 2s infinite linear;
	border-left: 4px solid white;
	border-top: 4px solid white;	
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}