@charset 'UTF-8';

/* Ligature symbols thanks to http://kudakurage.com/ligature_symbols/ */ 
@font-face {
    font-family: 'LigatureSymbols';
    src: url('fonts/LigatureSymbols-2.09.eot');
    src: url('fonts/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('fonts/LigatureSymbols-2.09.woff') format('woff'),
         url('fonts/LigatureSymbols-2.09.ttf') format('truetype'),
         url('fonts/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
  font-size: 1.3em;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
a:hover{
  text-decoration: none;
}

header {
	position: absolute;
	top:0;
}
  #header    { padding: 10px; height: 30px; margin: 0 84px 0 0; border-bottom: 4px solid #08C;}
  #header h1 { margin:0; line-height: 32px; font-size: 30px; font-weight: lighter; }
  #header #pages ul {
    font-size: 16px;
    margin: 4px 20px 0 0;
  }
  #header #pages ul li { 
    display: inline; 
    position: relative;
    border-left: 1px solid #eee;
    padding: 5px 10px 5px 14px;
  }
  #header #pages ul li:first-child { border: none;}
  #header #pages ul li a.home { color: black;}
  #header #pages ul li:hover:after{
    width: 0px;
    height: 0px;
    content: "";
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -4px;
  }
  #header #pages ul li.active:after{
    width: 0px;
    height: 0px;
    content: "";
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #0088cc transparent;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -4px;
  }
  #corner{
    position: absolute;
    right: 0;
    top: 0;
    background: #EEE;
    border-bottom: 4px solid #CCC;
    height: 30px;
    width: 64px;
    padding: 10px;
  }
  div.select2-search {display: none;}
  img.flag{ margin: -3px 0 0 0; }

#infos {position: absolute; bottom: 10px; left: 10px; z-index:2;}
#infos .position, #infos .objects { cursor: pointer;}

#page { position:absolute; width: 100%; top:54px; bottom:0; background: url("/img/bg_tile.jpg"); }
#content {z-index: 1; position:absolute; width: 100%; top:0; bottom:0;}

/* PAGES */
  /* Map */

  #toolbar {
    height: 50px;
    min-width: 1000px;
    padding: 5px 10px;
    background: #ddd;
    border-bottom: 1px solid gray;
  }

    #toolbar #toggleDataOverlay {margin: 0px 8px 0 0; cursor: pointer;}
    #toolbar #mean, #toolbar #speed        {margin-right: 10px; display: inline-block;}
    #toolbar #meanSelector button {font-size:27px;}
    #toolbar #mean select {width: 150px;}
    #toolbar .toolTitle { font-weight: bold; font-size: 12px;}

    #toolbar #places ul {margin: 0; padding: 5px 0;}
    #toolbar #places input {margin: 0 5px 0 0;}
    #toolbar #places li {margin-right: 10px;}
    #toolbar #places li, #toolbar #places label {display: inline; cursor: pointer;}

    #toolbar #addressForm {min-width: 350px;}
    #toolbar #actionForm  {min-width: 300px;}
    #toolbar #pois  {min-width: 320px;}

  #timeController {z-index:3; position: absolute; bottom:0; left: 50%; margin-left: -112px; overflow: hidden; height: 110px;}
    #timeController #limitValue {position:absolute; top: 78px; right: 50%; margin-right: -44px; font-size: 31px; color: #DDD;}
    #timeController #limitValue span {font-size: 26px; color: #777;}

  #mapCanvas { position:absolute; z-index: 1; width: 100%; top:61px; bottom:0; background: transparent !important;}
  #mapCanvas::after{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      z-index: 2;
      pointer-events: none; /* "all" disables mouse access to image */
      -moz-box-shadow: inset 0 0 25px rgba(0,0,0,1); /* Mozilla Settings */
      -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,1); /* Webkit Setting */
  }
  #mapCanvas img { max-width: none; } /* Twitter bootstrap fails with GMAPS */
  #mapCanvas label { width: auto; display:inline; }  /* Twitter bootstrap fails with GMAPS */

  #multipleChoices{
  	width: 262px;
  	top: 39px;
  	left: 324px;
  	padding: 10px;
  }
    #multipleChoices li { cursor: pointer; }
    #multipleChoices li:hover { background: lightGrey; }	


  /* Generic */
  #top {background-color: black; height: 280px; color: white; text-shadow: 1px -1px 10px black;}
  #paragraphs {width: 100%; background: #08C; color: white;}
  #top .hero-unit {background: none; max-width: 900px; margin: auto; padding: 40px 15px;}
  #paragraphs .inside {background: none; max-width: 900px; margin: auto; padding: 15px;}

  /* Specific */
  #top.contact {background: url('/img/bg/bg_contact.png') no-repeat center center black;}  
  #top.about {background: url('/img/bg/bg_about.png') no-repeat center center black;}  
  #top.ohmy {background: url('/img/bg/bg_404.png') no-repeat center center black;}  

/* Loader */

.loader_back {
	position: absolute;
	top: 50%;
	left: 50%;
}
