Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^edit index.php?edit=1
  RewriteRule ^action/(.*) index.php?action=$1
  RewriteRule ^page/(.*) index.php?page=$1

</IfModule>

